@import "src/styles/abstracts";

.o-auth-form {
  $block: &;
  width: 100%;
  max-width: 330px;

  &__logo {
    max-width: 170px;
    margin-bottom: px-to-rem(50px, 16px);
  }

  &__title {
    font-size: px-to-rem(20px, 16px);
    margin-bottom: px-to-rem(12px, 16px);
    display: block;
    font-family: $font-bold;
  }

  &__sub-title {
    margin-bottom: px-to-rem(24px, 16px);
    display: block;
    color: $color-gray;

    a {
      margin-left: 6px;
    }

    &_bottom {
      margin: 1rem 0 0;
    }
  }

  &__form {
    width: 100%;
  }

  &__field {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__button {
    margin-top: px-to-rem(24px, 16px);
    width: 100%;
  }

  &__prev-link {
    display: block;
    margin-top: 1rem;
    font-family: $font-medium;

    &.a-link {
      color: $color-gray;
    }
  }
}